html, body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 720px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}

#root {
  background: linear-gradient(90deg, #9cc4d9, #b19cd9);
  min-height: 100vh;
  padding: 40px 0;
}

.title {
  font-size: 28px;
  line-height: 1.2;
  color: #53565A;
}

.messagesWindow {
  border: 2px solid #f0f0f6;
  border-radius: 5px;
  text-align: left;
}

.messagesWindow .messageWrapper {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid #f0f0f6;
  box-shadow: 0 2px 7px 0 rgb(0 0 0 / 28%);
}

.messagesWindow .messageWrapper:last-of-type {
  border: none;
}

.messageWrapper .display-name {
  font-size: 14px;
  font-weight: 700;
}

.messageWrapper .chat-bubble {
  padding: 5px;
  border-radius: 5px;
  background-color: #5263bd;
  margin-bottom: 10px;
  font-family: 'Roboto';
}

.messageWrapper .chat-bubble p,
.messageWrapper .chat-bubble span,
.messageWrapper .chat-bubble li  {
  color: #fff !important;
  font-size: 18px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: 1px;
}

.messageWrapper .chat-bubble a,
.messageWrapper .chat-bubble a span {
   color: #9cc4d9 !important;
}

.messageWrapper .chat-bubble span {
  background-color: rgba(255,255,255,0) !important;
}

.messageWrapper .message-post-time {
  font-size: 12px;
}

.messagesWindow img {
  width: 100%;
  max-width: 200px;
  cursor: zoom-in;
  margin-right: 15px;
  margin-bottom: 15px;
}
.displayName {
  width: 100%;
  margin: 20px 0;
  padding: 10px 5px;
  border: 2px solid #f0f0f6;
  border-radius: 5px;
}

.textEditorToolbar {
  border: 2px solid #f0f0f6;
  border-radius: 5px;
}

.textEditorToolbar .rdw-fontsize-wrapper,
.textEditorToolbar .rdw-fontfamily-wrapper,
.textEditorToolbar .rdw-image-wrapper,
.textEditorToolbar .rdw-emoji-wrapper,
.textEditorToolbar .rdw-colorpicker-wrapper {
  display: none;
}

.textInput {
  border: 2px solid #f0f0f6;
  border-radius: 5px;
  padding: 5px;
}


.dropZone {
  position: relative;
}
.dropZone input:first-of-type{
  display: block !important;
  margin: auto;
}
.dropZone.isDropping:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: rgba(156,196,217,0.5);
}
.dropZone img {
  max-width: 150px;
}

.btn {
  margin: 20px 0;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #8565c4;
  border: 2px solid #8565c4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: #8565c4;
}

.enlargedImageWrapper {
  background-size: contain !important;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0; 
  left: 0;
  cursor: zoom-out;
}

@media (max-width: 980px) {
  .App {
    width: 90%;
    margin: 0 auto;
  }
}